.holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
  max-width: 24px;
}
.item {
  max-width: 200px;
}
.item:last-child {
  background-color: orange;
  order: 3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.item:nth-child(4) {
  background-color: green;
  order: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* .item:nth-child(odd) {
  order: -2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
.item:nth-child(3) {
  order: -1;
  background-color: purple;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item:nth-child(1) {
  background-color: tomato;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  order: 2;
}
.item:nth-child(2) {
  order: 0;
  background-color: lightskyblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* .item:nth-child(4) {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: orange;
} */
